<div>
  <div ng-controller="ButtonCtrl">
    <h2>Buttons</h2>
    <react-button re-in-href="url" re-in-target="'_blank'">
      <github-icon style="display: inline-block; width: 1em"></github-icon>
      <span>{{text}}</span>
    </react-button>

    <div>
      <h3>Conditional render</h3>
      <react-button re-cb-on-click="toggleDetails()">
        <span>Toggle Details</span>
      </react-button>

      <react-container>
        <p>Child</p>
        <div ng-if="showDetails">Details</div>
      </react-container>
    </div>

    <hr />
  </div>

  <div ng-controller="DatePickerCtrl">
    <h2>Date Picker</h2>
    <react-date-picker
      re-in-default-value="data.birthday"
      re-cb-on-change="updateDate(arg)"
      re-in-placeholder="'Date of birth'"
    ></react-date-picker>
    <p>
      Birthday saved as:
      <span class="saved-date">{{data.birthday.toDate() | date}}</span>
    </p>
    <hr />
  </div>

  <react-container>
    <span> Child </span>
    <react-container data="'Prop'">
      <span> Grand Child </span>
    </react-container>
  </react-container>
  <hr />

  <div ng-controller="GridCtrl">
    <h2>Repeat Layout</h2>

    <button class="btn btn-default add-grid-item" ng-click="addBlock()">
      Add
    </button>

    <react-row re-in-justify="'space-between'">
        <div
          style="height: 100px; width: 100px; background-image: url({{getImage(block)}}); background-size: 100% 100%;"
          ng-repeat="block in layout" re-in-key="block.i"
        >
          <button
            ng-click="removeBlock(block)"
            type="button"
            class="close"
            aria-label="Close"
            style="float: right"
          >
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </react-row>
    <hr />
  </div>
</div>
